:root {
  --max-width: 850px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(100, 100, 100, 0.15);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: unset;
}

main {
  max-width: var(--max-width);
  width: 97%;
  margin: 0 auto;
  padding: 4em 0 2em; 
}

img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
  border: 3px solid aqua;
  border-radius: 10px;
  box-shadow: 2px 2px 30px gray;
}

input {
  padding: 0.45em;
}

.search {
  padding-bottom: 0.75em;
  margin-bottom: 1em;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > input {
  border: 2px solid gray;
  padding: 0.45em;
  display: inline-block;
  width: 75%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.doc-card {
  padding: 0.5em;
  border-radius: 3px;
  background-color: hsla(123, 60%, 49%, 0.2);
  box-shadow: 1px 2px 30px hsla(123, 60%, 49%, 0.2);
  margin: 1.2em 0;
  display: grid;
  align-items: center;
  grid-template-columns: 130px auto;
  grid-gap: 10px;
  transition: transform .4s;
}

.doc-card:hover {
  transform: scale(1.02);
  outline: 1px solid hsl(123, 60%, 49%);
}

.doc-card > img {
  border: 1px solid aqua;
  border-radius: 4px;
  box-shadow: 1px 1px 1px gray;
} 

h1.doc-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(123, 80%, 25%);
  text-transform: capitalize;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

p.doc-par {
  font-size: 1.1rem;
}

img.doc-img {
  display: block;
  margin: 1em auto;
  /* height: 550px; */
}

tr:nth-of-type(odd) {
  background-color: rgba(200, 200, 200, 0.75);
}

th {
  background-color: rgba(70, 170, 105, 0.5);
  color: ghostwhite;
}

td {
  padding: 0.5em 0.25em;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}
.tax-table {
  margin: 1.2em 0;
  width: 100%;
  border-collapse: collapse;
}

.tax-table * {
  border: 1px solid gray;
}

.tax-table td:first-of-type {
  width: 40%;
}

.tax-table td:nth-of-type(2) {
  width: 30%;
}

.tax-table td:nth-of-type(3), .tax-table td:nth-of-type(4), .tax-table td:nth-of-type(5) {
  text-align: center;
  width: 10%;
}

.action-btn {
  padding: 0.45em 0.65em;
  border-radius: 5px;
  background: rgba(70, 170, 105, 0.5);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.action-btn:hover {
  background-color: rgba(70, 170, 105, 0.85);
}

.btn-danger {
  background-color: rgba(233, 10, 10, 0.75);
  color: white;
  border-color: white;
}

.btn-danger:hover {
  background-color: crimson;
}

.copy {
  position: absolute;
  bottom: 2.5em;
  right: 2.5em;
  transform: translateX(calc(100% + 2.5em));
  background:hsl(123, 80%, 25%);
  color: white;
  padding: 1.2em 0.6em;
  border-radius: 10px;
  transition: transform 0.25s;
}

.copy.show {
  transform: translateX(0);
}